.nav {
  float: left;
  margin: 10px;
  font-size: 20px;
}

.body {
  clear: both;
  padding: 10px;
}

.current-user {
  text-align: right;
}

.login {
  text-align: right;
}

.logout {
  text-align: right;
}

.header h1 {
  text-align: center;
}
