// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.member-search {
  display: inline;
}
.member-create {
  display: none;
  padding: 2px;
  color: white;
  background-color: blue;
  margin-left: 5px;
}
